body{
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
}
#div1{
    display: inline-block;
    margin: auto;
    width: 60%;
    color: red;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
    height: 700px;
}
#div2{
    display: inline-block;
    margin: auto;
    width: 30%;
    color: red;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
    height: 550px;
}
#div3{
    display: inline-block;
    margin: auto;
    width: 100%;
    color: red;
    border: 3px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
    height: 550px;
}